body {
    margin: 0;
    text-align: center;
    color: white;
    padding-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

p {

    text-align: center;
    color: white;
    padding-top: 10%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.div {
background-image: url("MSU.png");


}

