body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}


.land {
    background-color: dimgray;
    text-align: center;
}


p.info {
    text-align: left;
    float: right;
}

h2.info {

    text-align: center;
}

img.info {

    float: left;
}

.info {
    background-color: rgb(100, 109, 179);

}
